<style>
@import url('https://fonts.googleapis.com/css?family=Raleway|Source+Sans+Pro');
</style>

body {
  background-color: red;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.page-header {
  text-align: center;
  padding-top: 30px;
}

.container {
  margin:0px auto;
  float: none;
  padding-top: 30px;
  padding-left: 270px;

}

.logo-container {
  position: inherit;
  display: block;
  padding-left: 750px;

}

.navbar-inverse {
	background-color:#000000;
  color:white;
  border-radius:0;
}

.navbar-right {
  font-size: 30px;
  padding-top: 20px;
  padding-right: 20px;
  text-align: right;
  color: white;
}
